.card {
  box-shadow: 0 0px 40px 0 rgba(143, 158, 190, 0.3);
  transition: 0.3s;
  width: 40%;
  border-radius: 4px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cont1{
  position: relative;
  text-align: center;
  color: white;
  border-radius: 4px 4px 0px 0px;
}

.image{
  border-radius: 4px 4px 0px 0px;
}

.love{
  position: absolute;
  width: 16px;
  height: 14px;
  right: 4px;
  top: 5px;
}

.container {
  padding: 18px 16px;
}

.desc {
  position: absolute;
  bottom: 8px;
  left: 16px;
}


.judul {
  text-align: left;
  width: 134px;
  height: 20px;
  top: 134px;
  bottom: 0px;
  margin-block-end: 0px;

  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #FFFFFF;
}

.clue1 {
  text-align: left;
  width: 120px;
  height: 12px;
  left: 16px;
  top: 156px;
  margin-block-start: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;

  color: #FFED4A;
}

.selengkap {
  /* position: relative; */
  width: 96px;
  height: 12px;
  left: 56px;
  top: 10px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.13em;
  text-transform: uppercase;

  color: #FF804A;
}